FORMAT: 1A
HOST: http://os-app1-os-app1.193b.starter-ca-central-1.openshiftapps.com/rest/

# osapp1

os-app1 is a RESTful API for the ClassicModels MySQL sample database.

---
## Customers Collection [/customers]
### List all Customers [GET]
Retrieve a list of Customers.

+ Response 200 (application/json)

        [
            
        ]


### Create a Customer [PUT]
+ Request (application/json)

        {
            "fname": "Ram",
            "lname": "Jadhav",
            "email": "ram@email.com"
        }

+ Response 201 (application/json)

        {
            "id": 3,
            "fname": "Ram",
            "lname": "Jadhav",
            "email": "ram@email.com"
        }

## Customer [/customers/{id}]
A single Customer object with all its details

+ Parameters
    + id (required, Number, `1`) ... Numeric `id` of the User to perform action with.

### Retrieve a Customer [GET]
+ Response 200 (application/json)

    + Body

            {
                "id": 1,
                "fname": "Pandurang",
                "lname": "Patil",
                "email": "pandurang@email.com"
            }

### Update a Customer [POST]
Update customer details
+ Request (application/json)

        {
            "id": 1,
            "fname": "Pandurang",
            "lname": "Patil",
            "email": "pandurangpatil@email.com"
        }

+ Response 200 (application/json)

        {
            "id": 1,
            "fname": "Pandurang",
            "lname": "Patil",
            "email": "pandurangpatil@email.com"
        }

### Remove a Customer [DELETE]
+ Response 204
            
            
## Employees Collection [/employees]

### List All Employees [GET]

+ Response 200 (application/json)

        [
            
        ]
        

## Oficces findAll [/oficces]

### List All Oficces [GET]

+ Response 200 (application/json)

        [
            {"officeCode":"1","city":"San Francisco","phone":"+1 650 219 4782","addressLine1":"100 Market Street","addressLine2":"Suite 300","state":"CA","country":"USA","postalCode":"94080","territory":"NA"},{"officeCode":"2","city":"Boston","phone":"+1 215 837 0825","addressLine1":"1550 Court Place","addressLine2":"Suite 102","state":"MA","country":"USA","postalCode":"02107","territory":"NA"},{"officeCode":"3","city":"NYC","phone":"+1 212 555 3000","addressLine1":"523 East 53rd Street","addressLine2":"apt. 5A","state":"NY","country":"USA","postalCode":"10022","territory":"NA"},{"officeCode":"4","city":"Paris","phone":"+33 14 723 4404","addressLine1":"43 Rue Jouffroy D'abbans","addressLine2":null,"state":null,"country":"France","postalCode":"75017","territory":"EMEA"},{"officeCode":"5","city":"Tokyo","phone":"+81 33 224 5000","addressLine1":"4-1 Kioicho","addressLine2":null,"state":"Chiyoda-Ku","country":"Japan","postalCode":"102-8578","territory":"Japan"},{"officeCode":"6","city":"Sydney","phone":"+61 2 9264 2451","addressLine1":"5-11 Wentworth Avenue","addressLine2":"Floor #2","state":null,"country":"Australia","postalCode":"NSW 2010","territory":"APAC"},{"officeCode":"7","city":"London","phone":"+44 20 7877 2041","addressLine1":"25 Old Broad Street","addressLine2":"Level 7","state":null,"country":"UK","postalCode":"EC2N 1HN","territory":"EMEA"}
        ]
        
        
## Oficces getOne [/oficces/{id}]

### Get one  Office [GET]

+ Response 200 (application/json)

        [
            {"officeCode":"1","city":"San Francisco","phone":"+1 650 219 4782","addressLine1":"100 Market Street","addressLine2":"Suite 300","state":"CA","country":"USA","postalCode":"94080","territory":"NA"}    
        ]

      
        
        
        
## Order Details Collection [/orderdetails]

### List All Order Details [GET]

+ Response 200 (application/json)

        [
            
        ]
        
        
## Orders Collection [/orders]

### List All Order Details [GET]

+ Response 200 (application/json)

        [
            
        ]
        
        
## Payments Collection [/payments]

### List All Payments [GET]

+ Response 200 (application/json)

        [
            
        ]
   
        
## Product lines Collection [/productlines]

### List All Product lines [GET]

+ Response 200 (application/json)

        [
            
        ]
   
        
## Products Collection [/products]

### List All Product [GET]

+ Response 200 (application/json)

        [
            
        ]