FORMAT: 1A
HOST: http://os-app1-os-app1.193b.starter-ca-central-1.openshiftapps.com/rest/

# osapp1

os-app1 is a RESTful API for the ClassicModels MySQL sample database.

---
## Customers Collection [/customers]
### List all Customers [GET]
+ Response 200 (application/json)

        [
            {"customerNumber":103,"customerName":"Atelier graphique","contactLastName":"Schmitt","contactFirstName":"Carine ","phone":"40.32.2555","addressLine1":"54, rue Royale","addressLine2":null,"city":"Nantes","state":null,"postalCode":"44000","country":"France","creditLimit":21000.00}   
        ]


### Create a Customer [POST]
+ Request (application/json)

        
        {"customerNumber":103,"customerName":"Atelier graphique","contactLastName":"Schmitt","contactFirstName":"Carine ","phone":"40.32.2555","addressLine1":"54, rue Royale","addressLine2":null,"city":"Nantes","state":null,"postalCode":"44000","country":"France","creditLimit":21000.00}
       

+ Response 201 (application/json)

        {"customerNumber":103,"customerName":"Atelier graphique","contactLastName":"Schmitt","contactFirstName":"Carine ","phone":"40.32.2555","addressLine1":"54, rue Royale","addressLine2":null,"city":"Nantes","state":null,"postalCode":"44000","country":"France","creditLimit":21000.00}

## Customer [/customers/{id}]

+ Parameters
    + id (required, String, `103`) ... `id` of the Customer to perform action with.

### Retrieve a Customer [GET]
+ Response 200 (application/json)

    + Body

            {"customerNumber":103,"customerName":"Atelier graphique","contactLastName":"Schmitt","contactFirstName":"Carine ","phone":"40.32.2555","addressLine1":"54, rue Royale","addressLine2":null,"city":"Nantes","state":null,"postalCode":"44000","country":"France","creditLimit":21000.00}

### Update a Customer [PUT]
+ Request (application/json)

        {"customerName":"Atelier graphique","contactLastName":"Schmitt","contactFirstName":"Carine ","phone":"40.32.2555","addressLine1":"54, rue Royale","addressLine2":null,"city":"Nantes","state":null,"postalCode":"44000","country":"France","creditLimit":21000.00}

+ Response 200 (application/json)

        {"customerName":"Atelier graphique","contactLastName":"Schmitt","contactFirstName":"Carine ","phone":"40.32.2555","addressLine1":"54, rue Royale","addressLine2":null,"city":"Nantes","state":null,"postalCode":"44000","country":"France","creditLimit":21000.00}

### Remove a Customer [DELETE]
+ Response 204




## Employees Collection [/employees]
### List all Employees [GET]

+ Response 200 (application/json)

        [
            {"employeeNumber":1002,"lastName":"Murphy","firstName":"Diane","extension":"x5800","email":"dmurphy@classicmodelcars.com","jobTitle":"President"}
        ]
        
### Create a Employee [POST]
+ Request (application/json)

        
        {"employeeNumber":1002,"lastName":"Murphy","firstName":"Diane","extension":"x5800","email":"dmurphy@classicmodelcars.com","jobTitle":"President"}
       

+ Response 201 (application/json)

        {"employeeNumber":1002,"lastName":"Murphy","firstName":"Diane","extension":"x5800","email":"dmurphy@classicmodelcars.com","jobTitle":"President"}
        

## Employee [/employees/{id}]

+ Parameters
    + id (required, String, `103`) ... `id` of the Customer to perform action with.

### Retrieve a Employee [GET]
+ Response 200 (application/json)

    + Body

            {"employeeNumber":1002,"lastName":"Murphy","firstName":"Diane","extension":"x5800","email":"dmurphy@classicmodelcars.com","jobTitle":"President"}

### Update a Employee [PUT]
+ Request (application/json)

        {"employeeNumber":1002,"lastName":"Murphy","firstName":"Diane","extension":"x5800","email":"dmurphy@classicmodelcars.com","jobTitle":"President"}

+ Response 200 (application/json)

        {"employeeNumber":1002,"lastName":"Murphy","firstName":"Diane","extension":"x5800","email":"dmurphy@classicmodelcars.com","jobTitle":"President"}

### Remove a Employee [DELETE]
+ Response 204


## Offices Collection [/offices]
### List all Offices [GET]
Retrieve a list of Offices.

+ Response 200 (application/json)

        [
            
        ]
        
        
## Orderdetails Collection [/orderdetails]
### List all Orderdetails [GET]
Retrieve a list of orderdetails.

+ Response 200 (application/json)

        [
            
        ]
        
        
## Orders Collection [/orders]
### List all Orders [GET]
Retrieve a list of Orders.

+ Response 200 (application/json)

        [
            
        ]
        

## Productlines Collection [/productlines]
### List all Productlines [GET]
Retrieve a list of Productlines.

+ Response 200 (application/json)

        [
            
        ]
        

## Products Collection [/products]
### List all Products [GET]
Retrieve a list of Products.

+ Response 200 (application/json)

        [
            
        ]